/*body {background-color:rgba(224, 192, 160, 0.6);}

a{text-decoration : none;} 

a:visited{text-decoration : none;} 

p {color:black;}
*/

/*Header*/

#header{
	margin:0 0;
	width:100%;
	z-index: 1000;
	top: 0;
	left: 0;
	position: fixed;
    background: rgba(255, 255, 255, 0.8);
}


a {
	text-decoration: none;
	font-family: 'open_sansbold', Arial, sans-serif;
	-webkit-text-stroke: 0.50px;
}


.switchedHeader {
    position: fixed !important;
	background: rgba(255, 255, 255, 0.97);
	left:0;
	top:0;
}


.mainHeader{
	width:100%;
	text-align:center;
	
}

.mainHeader .container{
	width:90% !important;
	
}

.mainHeader .container .eight.columns{
	width:48% !important;
}

.headerSocials{
	padding: 30px 15px;
}

.langswitcher ul {
	margin: 0;
}

.langswitcher li {
    display: inline;
    font-size: 15px;
    margin-left: 6px; 
    margin-right: 6px;
    margin-bottom: 0;
    position: relative;
}


.switchedHeader .langswitcher li a {
    color: #343434;
}

.mainNav ul {
	margin: 0;
}

.mainNav li {
	display: inline-block;
	font-size: 11px;
	margin-bottom: 0;
	position:relative;
	text-transform: uppercase;
}


.mainNav li a {
    color: #343434;
    font-size: 14px;
    display: block;
    padding: 29px 15px;
    position: relative;
}


.switchedHeader .mainNav li a  {
    color: #999999 !important;
}


.offestNavCanvas, .offestNavCanvas.showNav, .mainHeader, .mainHeader.showNav, .wrapper.showNav, .wrapper {
	transition: transform 0.3s ease 0s;
	-ms-transition: transform 0.3s ease 0s;
	-webkit-transition:-webkit-transform 0.3s ease 0s;
	-moz-transition: transform 0.3s ease 0s;
	-o-transition: transform 0.3s ease 0s;

}


.offestNavCanvas{

	-webkit-backface-visibility:hidden;
	width:280px;
	top:0;
	bottom:0;
	position:fixed;
	background:#343434;
	z-index:1001;
	height:100%;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-overflow-scrolling:touch;
	-ms-overflow-style:-ms-autohiding-scrollbar;
	-ms-transform:translate(280px, 0px);
	 -webkit-transform: translate3d(280px, 0, 0);
    -moz-transform: translate3d(280px, 0, 0);
    -o-transform: translate3d(280px, 0, 0);
    -ms-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
	right:0;
	
}



.mainHeader, .offestNavCanvas.showNav, .wrapper {
	transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	-ms-transform:translate(0px, 0px);
	-webkit-transform:translate3d(0px, 0px, 0px);
	-moz-transform:translate3d(0px, 0px, 0px);
	-o-transform:translate3d(0px, 0px, 0px);
}

.mainHeader.showNav, .wrapper.showNav {
    transform: translate3d(-280px, 0px, 0px);
	-ms-transform:translate(-280px, 0);
	-webkit-transform:translate3d(-280px, 0, 0);
	-moz-transform:translate3d(-280px, 0, 0);
	-o-transform:translate3d(-280px, 0, 0);
}



.offsetNavInner{
	margin-top: 23px;
	padding-left:30px;
}


.offsetNav li a{
	color: #f1f1f1;
    display: block;
    font-size: 11px;
    padding: 5px 0;
    text-transform: uppercase;
}


.offsetNavSocials {
	position:absolute;
	bottom:50px;
}

.offsetNavSocials li {
    display: inline;
    font-size: 15px;
    margin-left: 6px;
    margin-right: 6px;
}

.offsetNavSocials li a {
    color: #ffffff;
}


/*End header*/

/*About section*/

#about {
	top: 0;
	left: 0;
}
.introHolder{

	position :relative;
	
}


.introBg {
    display: block;
    position: static;
    width: 100%;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}


.intro, .aboutInfo{
	padding-bottom: 90px;
}


.innerIntro{
	float: left;
    display: inline;
	margin-top:120px;
	margin-left: 20%;
}

.innerInfo{
	margin-left: 15%;
	margin-top:200px;
}


.aboutTitle h1 {
    color: #ffffff;
    text-align: center;
	font-size:36px;
}


.aboutTitle h1 span {
    color: #ffffff;
    display: block;
    font-size: 12px;
    margin-top: 8px;
}


.aboutIntro {
    margin-top: 50px;
}

.aboutIntro h1 {
    color: #ffffff;
    line-height: 32px;
    margin-bottom: 30px;
	font-size:26px;
	padding-right: 20px;
}


.aboutIntro p {
    color: #ffffff;
	padding-right: 25px;
}


.aboutProfile, .aboutInfo{
	float:left;
}

.aboutProfile {
    border: 4px solid #319894;
    border-radius: 100%;
    -webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	display: inline-block;
	border: 4px solid #319894;
	margin-left: 25px;
    margin-right: 33px;
    margin-top: 30px;
    height: 130px;
    width: 130px;
}



.aboutProfile img {
    
    border-radius: 100%;
    -webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
    height: 122px;
    width: 130px;
    display: inline-block;

}

.aboutInfo{
	margin-left: 4%%;
	width:257px;
}


.aboutInfo ul{
	color:#ffffff;
}

.aboutInfo .ctl{
	margin-top:30px;
}


.aboutInfo .ctl a{
	background:#4ac2be;
	color:#ffffff;
	text-transform: uppercase;
	padding:12px 17px;
	
}


/*End about section*/

/*Resume*/


.resumeDetails{
	text-align:left;
}


.container .resumeDetails, .container .skillsContent {
    display: inline-block;
    float: none;
}

.em, .ed{
	margin-bottom:40px;	
}


.em:last-child, .ed:last-child{
	margin-bottom:0;	
}

.dtIco, .det{
	float:left;
}


.dtIco{
	margin-top:20px;
}



.dtIco span.date {
    background:#03CC85;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 15px;
    padding: 2px 10px;
}

.dtIco img {
    display: inline-block;
    height: 85px;
    line-height: 39px;
    width: 85px;
	position:relative;
}

.dtIco span.ico {
    background: #37b0ac;
    border: 3px solid #4ac2be;
    border-radius: 100px;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    line-height: 39px;
    text-align: center;
    width: 35px;
	position:relative;
}


.employment, .education{
	position:relative;
}

.employment:before, .education:before {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 1%, #efefef 75%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#efefef), color-stop(75%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 1%,#efefef 75%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 1%,#efefef 75%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    content: "";
    left: 3.7%;
    margin-left: -5px;
    position: absolute;
    top: 60px;
    width: 3px;
}


.det {

    margin-left: 32px;
    padding: 20px;
    position: relative;
}

.det h4{
	margin-bottom:10px;
	text-transform:none;
}

.det h4 span{
	font-size:13px;
}


.det .date {
    background: #343434;
    display: inline-block;
	margin-top:15px;
}
.det .date span {
    color: #ffffff;
    float: right;
    font-size: 12px;
    padding: 4px 22px;
    text-transform: uppercase;
}
.det .date i {
    background:#37b0ac;
    color: #ffffff;
    float: left;
   	font-size: 14px;
    padding: 8px 10px;
	position:relative;
}


.date i:after {
    border-bottom: 4px solid #37b0ac;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    bottom: -1px;
    content: "";
    height: 0;
    left: 30px;
    position: absolute;
    top: 44%;
    transform: rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
    width: 0;
}



.recognitionHolder {
    position: relative;
}


.imgrecognition {
    background-image: url(../../images/rcg.jpg);
    background-position: 50% 20%;
    background-size: cover;
    display: block;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
}


.imgrecognition:before {
    background: none repeat scroll 0 0 rgba(36, 36, 36, 0.3);
}


.rcgIntro {
    margin-top: 28% !important;
    position: relative;
}

.rcgIntro h1{
	color:#ffffff;
	font-size:18px;
	margin-bottom:5px;
}


.rcgIntro p {
    color: #ffffff;
	padding-right:40px;
}


.rcg:last-child {
    padding-bottom: 0;

}

.rcgIco, .rcgDet {
    float: left;
}


.rcgIco span.ico {
    color: #37b0ac;
    display: inline-block;
    font-size: 35px;
    font-weight: 100 !important;
    line-height: 52px;
    margin: 12px 10px 10px 20px;
    position: relative;
    text-align: center;
    width: 60px;
}


.rcgDet {
    margin-left: 10px;
    width: 360px;
	border-bottom:1px solid #e6e6e6;
	padding-bottom:10px;
}



.rcg:last-child .rcgDet {
    border-bottom: 0 none;
}

.rcgDet h1 {
	font-size:18px;
}


.rcgDet h3 {
	margin-top: 6px;
	color:#999999;
	font-size:16px;
	text-transform:none;
}


.rcgDet h3 span{
	display:block;
	font-size:12px;
	color:#343434;
}


.skills  .smallIntro p {
    color: #999999;
    line-height: 28px;
    padding: 0 260px;
}





.skillTitle h1{
	font-size:18px;
}


.skillBar {
    margin-bottom: 45px;
}


.skillBar:last-child {
    margin-bottom: 0;
}


.skillbarHolder {
    background-color: #efefef;
    height: 15px;
    position: relative;
}


.percentage {
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
}


.percentage.graphic {
    background:#343434;
}


.percentage.progra {
    background:#37b0ac;
}


.skillbarTitle {
    font-size: 12px;
    left: 0;
    position: absolute;
    top: -30px;
    z-index: 10;
	text-transform:uppercase;
}

.percent90 {
    width: 90%;
}


.percent40 {
    width: 50%;
}


.percent50 {
    width: 70%;
}


.percent60 {
    width: 60%;
}


.percent95 {
    width: 95%;
}


.skillInner .intro{
	padding-bottom:0;
}


.pList{
	float:left;
	margin-right:50px;
}

.pList li {
    color: #666666;
    margin-bottom: 5px;
}

.pList li i {
    font-size: 15px;
    margin-right: 10px;
	color: #343434;
}


.langList li {
    float: left;
    margin-bottom: 7px;
	margin-right: 50px;
}


.langList li:last-child {
    margin-bottom: 0;
}


.langList h4 {
    display: block;
    float: left;
    text-transform: uppercase;
    width: 144px;
	font-size:13px;
}


.rating {
    float: left;
    margin-top: 1px;
}


.rating span {
    display: inline-block;
	color:#343434;
}


.transparent {
    opacity: 0.1;
}


.getCv , .printCV{
    border:3px solid #343434;
    display: inline-block;
	margin-right:10px;
}


.getCv h3, .printCV h3 {
    color: #343434;
    float: right;
    padding: 8px 20px;
    text-transform: uppercase;
	margin-bottom:0;
}


.getCv i, .printCV i {
    color: #343434;
    float: left;
    font-size: 18px;
    padding: 10px 15px;
	border-right:3px solid #343434;
}


/*End resume*/

