/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing :border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}*/



  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    text-decoration:none;}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }
  table {
    border-collapse: collapse;
    border-spacing: 0; }
    
img {
    display: inline-block;
    vertical-align: middle;
}

img {
    height: auto;
    max-width: 100%;
}


*::-moz-selection {
    background: #111111;
    color: #ffffff;
}

a:focus {
outline: 0;
}

iframe{width:100%;frameborder:0;}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

*, *:before, *:after {
    -moz-box-sizing: border-box;
  -webkit-box-sizing :border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

.bigTitle{
    position:relative;
  }

  .bigTitle img {
      background:#ffffff;
      left: 48.53%;
      padding: 3px 7px;
      position: absolute;
      top: 37px;
      width: 3%;
  }
  
  .tgreyHolder .bigTitle img {
      background:#f4f4f4;
  }
  
  
  .tdarkHolder .bigTitle img {
      background:#343434;
  }

  .bigTitle h1{
    font-size:28px;
    margin-bottom:50px;
    display:inline-block;
    padding:10px 20px;
    position:relative;
  }
  
  .bigTitle h1:after {
      background:#343434;
      content: "";
      height: 2px;
      left: 51%;
      position: absolute;
      top: 45px;
      width: 70px;
      margin-left: -35px;
  }
  
  
  .bigTitle.dark h1 {
      color:#f1f1f1;
  }
  
  
  .bigTitle.dark h1:after {
      background:#f1f1f1;
  }
  
  .smallIntro p{
    color:#ffffff;
    font-size:20px;
    display:inline-block;
    
  }

  a.btnLaunch{
    
      border: 3px solid #ffffff;
      color: #ffffff;
      display: inline-block;
      font-size: 15px;
    margin-left:100px;
    padding:6px 16px;
  }
  
  
  
  a.btnLaunch:hover{
    color:#343434;
    background:#ffffff;
  }
  
  
  
  .logo h1, .caption h1, .ctl a, .introTitle h1, a.latestBtn, .projTitle h1, .cltInner h1
   , .cltInner a, .blContinue, .viewAll a, .postTitleL h1, .postTitle h1 a, .tagsSingle h4 , .comments h2, .respond h2, .widget h2,
  .comments .reply-btn a , .contactForm #submit, .replyForm #submit, .contactInner h1, .more a, .innerIntro h1,  a.btnLaunch
  , .bigTitle h1, .buyLink a, .aboutTitle h1, .aboutInfo .ctl a, .rcgIntro h1, .rcgDet h1, .skillTitle h1, .getCv h3 , .printCV h3  {
    font-family: 'RobotoBoldCondensed', Arial, sans-serif;
  }
  
  
  
  .logo h1 span, .caption p,  .itemDesc h3,  .rcgDet h3 {
    font-family: 'open_sanssemibold', Arial, sans-serif;
  }
  
  .author a, .fbInner p .brand, .stp h3, .expDet h3, .smallIntro p span, .feedInner h3 , .mainNav li a, .aboutInfo li span, .det h3, .skillbarTitle, .pList li, .langList h4, .offsetNav li a, .offsetNavQL li.title{
    font-family: 'open_sansbold', Arial, sans-serif;
  }
  
  
  .innerIntro h1 span,  ul#category li a, .projTitle p, .postMeta span, .postMeta span a
  , .postSingle blockquote, .itemDesc span, .postTitleL p, .tweets .tweet_list, .word h3 span, .word p, .det h3 span, .date span
  , .rcgDet h3 span, .item {
    font-family: 'open_sanslight_italic', Arial, sans-serif;

  }
  
  
  .innerIntro p .brand,  .rcgIntro p {
    font-family: 'open_sanssemibold_italic', Arial, sans-serif;

  }
  

  
  .pagination ul li, .tagsListSingle li a, .searchForm input[type="text"], .catList li a, .catArchives li a, .meta li a, .tagsList li a
  , .pstlDet .postTitle h1, .pstlDet .postTitle h1 a, .smallIntro p, .aboutTitle h1 span , .aboutIntro h1 {
    font-family: 'open_sanslight', Arial, sans-serif;
  }
  
  
  
  ul#category li a, .itemDesc span, .aboutTitle h1 span, .det h3 span, .det .date span, .insta h3
  , .postMeta, .blContinue, .postSingle, .sidebar, .mainNav li a , .ctl a, a.latestBtn, .caption p
  , .prc h3,  .feedInner h3
  , .teaserMsg h1, .projTitle p, a.btnLaunch, .stp h3, .postTitleL p,.stTitle p, .mainNavSingle li a {
      -webkit-text-stroke: 0.30px;
  }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 0.3rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.ofsBottom{padding-bottom:80px !important;}
.tCenter {text-align: center;}
.tLeft {text-align: left;}
.tRight {text-align: right;}
.ofsTop{padding-top:80px !important;}
.ofsInTop{padding-top:60px !important;}
.ofsInBottom{padding-bottom:60px !important;}
.ofsTMedium{padding-top:40px !important;} 
.ofsBMedium{padding-bottom:40px !important;}
.ofsTSmall{padding-top:20px !important;} 
.ofsBSmall{padding-bottom:20px !important;}
.margTop{margin-top:60px !important;}
.margMTop{margin-top:70px !important;}
.margLTop{margin-top:80px !important;}
.margBottom{margin-bottom:60px !important;}
.margMBottom{margin-bottom:70px !important;}
.margLBottom{margin-bottom:80px !important;}
.margHBottom{margin-bottom:100px !important;}
.margHTop{margin-top:100px !important;}
.singleOffset{margin-top:64px !important;}
.blogSingle.singleOffset {margin-top: 64px !important;}
.bgGrey{background:#f3f3f3;}
.bgGreyDark{background:#343434;}
.bgGreen{background:#4ac2be;}
.bgGreenDark{background:#3eafab;}
.bgBlue{background:#489FFC;}
.bgBlueDark{background:#03478E;}
.secTitle.pricingTitle h1{color:#f4f4f4;}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/



/*Landscape 1024 X 600 */
@media only screen and (min-width: 1000px) and (max-width: 1030px){
  
  .bigTitle img {left: 48.01%;width: 4%;}
  .caption p {padding: 0 300px;}

}
 
/* (1680x1050) WSXGA+ Display */
@media only screen and (min-width: 1650px) and (max-width: 1889px) {
  .bigTitle img {left: 48.7%;width: 2.5%;}
  .caption p {padding: 0 640px;}
}


/* Smartphones & Tablets (portrait) & Tiny Desktops -------- */
@media only screen and (min-width: 640px) and (max-width: 799px) {
  .bigTitle img {left: 46.5% !important;width: 6.9% !important;}
}


/* (1280x1024) SXGA Display */
@media  screen  and (min-width: 1200px) and (max-width: 1280px) {
    .caption p {padding: 0 445px;}

}


/*iPad lanscape*/
@media screen and (max-device-width: 960px) and (min-width: 1000px) and (max-width: 1030px){
  input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
  .flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
  .teaser .slides li{background-attachment: scroll;background-position:top center !important;background-size: cover;}
  .caption p{padding: 0 300px;}
  .bigTitle img{width:4.1%;left: 48.21%;}
  a.btnLaunch{margin-left:40px;}
  .mainHeader .container{width:88% !important;}
  .mainHeader .container .eight.columns{width:47% !important;}

}

/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
  .flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
  .teaser .slides li {background-attachment: scroll;background-position:top center !important;background-size: cover;}
  .mainHeader .container{width:86% !important;}
  #dld{display: none;}
  .mainHeader .container .eight.columns{width:46% !important;}
  .caption p{padding: 0 210px;}
  .aboutIntro h1{font-size:23px;}
  .aboutProfile {margin-left:0;margin-right:0;margin-top:0; margin-bottom:20px;}
  .aboutProfile, .aboutInfo{float:none;margin-left:30px;}
  .aboutInfo{width:auto;}
  .innerInfo {margin-top: 100px;}
  .bigTitle img{width:5.5% !important;left: 47.41% !important;}
  .nav {width: 263px !important;}
  .innerIntro{margin-top:115px;}
  .det{width:479px;}
  .employment:before, .education:before{left:4.7%;}
  .rcgIntro{margin-top: 33% !important;}
  .rcgDet{width:260px;}
  .pList{margin-right:40px;}
  .langList h4{width:78px;}
  .blog .smallIntro p ,.tweets .tweet_list, .singleDetails .smallIntro p, .skills .smallIntro p
  , .contact .smallIntro p{padding: 0 180px;}
  .imgTS{width:48%;}
  a.btnLaunch{margin-left:30px;}
  .pagination ul{text-align:left;}
  .pagination ul li{text-align:center;}
  .feedInner:before{left:20px;}
  .pstlDet{width:380px;}
  .teaserMsg h1{font-size:15px;}
  .footerTop.ofsInTop{padding-top: 30px;}
  .footerTop.ofsBMedium{ padding-bottom: 20px;}
  
  
  
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
  input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
  .flexslider .slides > li {display: none; -webkit-backface-visibility: visible !important;} 
  html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
  #dld{display: none;}
  .switchedHeader{position:static;}
  .headerSocials{display:none !important;}
  .teaser .slides  li{background-attachment: scroll;background-position:top center !important;background-size: cover;}
  .nav{width:420px !important;}
  .nav.second{padding-bottom:20px;}
  .caption{top:53.4%;}
  .caption p{padding: 0 100px;}
  .mainHeader .container .eight.columns {width: 48% !important;}
  .mainNav li a{ color:#343434;}
  .caption h1{font-size:50px;}
  .bigTitle img{width:8.7%;left: 45.7%;}
  .introBg{top: 0; left: 0; width:100%; height:50%;}
  .innerInfo{margin-top:50px;}
  .innerIntro{text-align: center !important;}
  .aboutProfile {margin-bottom:30px;margin-left:0;margin-right:0;}
  .employment:before, .education:before{left:6%;}
  .det{width:370px;margin-left:5px;}
  .imgrecognition{width:100%;height:33%;min-height:100px;}
  .container .rcgIntro{margin-top:23% !important ;}
  .container .rcgDetails.margHTop {margin-top: 100px;}
  .rcgDet{width:300px;}
  .container .skillsContent.margHBottom{margin-bottom:100px;}
  .langList li, .langList h4, .pList, .aboutProfile, .aboutInfo{float:none;}
  .pList{margin-right:0;}
  .langList li{margin-bottom:40px;}
  .pstlDet {margin-left: 55px;width: 305px;}
  .contactForm{margin-bottom:50px;}
  .teaserMsg h1{line-height:25px;}
  .buyLink a{float:none;margin-top:20px;}
  .videoWrapper iframe{height:400px;margin-bottom:15px !important;}
  .prj, .prjSlider{margin-bottom:20px !important;}
  .container .stp {margin-bottom: 40px;}
  .container .stp:last-child {margin-bottom: 0;}
  .container .item{ margin-bottom: 30px;}
  .container .stInner.ten.columns {margin:0 !important;}
  .singleTeaser .container .six.columns{margin:0 !important;}
  .singleTeaser{padding-top:130px !important;padding-bottom:50px !important;}
  .imgTS{display:none;}
  .pagination{text-align:left;margin-top:20px;}
  .pagination li{text-align:center;}
  .container .sidebar{margin-top:40px;}
  .replyForm{margin-bottom:40px;}
  a.btnLaunch{margin-left:0;margin-top:20px;}
  .prj, .prjSlider{margin-bottom:20px !important;}
  .postMedia iframe{height:400px;}
  .team .smallIntro p, .process .smallIntro p, .facts .smallIntro p, .pricing .smallIntro p, .cltInner p,.blog .smallIntro p
  ,.tweets .tweet_list, .singleDetails .smallIntro p, .clients .smallIntro p, .skills .smallIntro p
  , .contact .smallIntro p{padding: 0 55px;line-height:28px;}
  .insta {height: 10%;left: 0;padding-top: 220px;width:100%;margin-left: 0;}
  .instaFeed li, .instaFeed li a{width:100%;}

  
}



/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
  
  input, textarea{-webkit-appearance: none;-webkit-border-radius:0;}
  .flexslider .slides li {display: none; -webkit-backface-visibility: visible !important;} 
  html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
  html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
  header{position :fixed !important;top:0 !important;left:0;margin-top:0 !important;background-color: rgba(255, 255, 255, 0.97) !important;}
  .switchedHeader{position:static;}
  .headerSocials{display:none !important;}
  .teaser .slides  li{background-attachment: scroll;background-position:top center !important;background-size: cover;}
  .caption{top:55%;}
  .caption p{padding: 0 10px;}
  #dld{display: none;}
  .mainHeader .container .eight.columns {width: 48% !important;}
  .mainNav li a{ color:#343434;}
  .caption h1{font-size:40px;}
  .caption p{margin-top:12px;}
  .bigTitle img{width:14%;left: 43.2% ;}
  .introBg{width:100%; height:48%;}
  .innerInfo{margin-top:50px;}
  .aboutProfile {margin-bottom:30px;margin-left:0;margin-right:0;}
  .employment:before, .education:before{left:8.7%;}
  .det{width:250px;margin-left:5px;}
  .imgrecognition{width:100%;height:33%;min-height:100px;}
  .container .rcgIntro{margin-top: 33% !important;}
  .container .rcgDetails.margHTop {margin-top: 100px;}
  .rcgDet{width:160px;}
  .container .skillsContent.margHBottom{margin-bottom:100px;}
  .langList li, .langList h4, .pList, .aboutProfile, .aboutInfo{float:none;}
  .pList{margin-right:0;}
  .langList li{margin-bottom:40px;}
  .getCv{margin-bottom:10px;}
  .pstLInner{padding-top:0 !important;}
  .pstlIco, .pstlDet{float:none;margin-left:0;}
  .pstlDet{width:300px; margin-top:20px;}
  .pstlIco span.ico{position:relative; left:-120px;}
  .contactForm{margin-bottom:50px;}
  .teaserMsg h1{line-height:25px;}
  .buyLink a{float:none;margin-top:20px;}
  .ftLogo img{width:35%;}
  .feedInner:before{left:20px;}
  ul#category li {display: block;margin-bottom: 15px;margin-right:0;}
  .prj, .prjSlider{margin-bottom:20px !important;}
  .container .stp {margin-bottom: 40px;}
  .container .stp:last-child {margin-bottom: 0;}
  .container .item{ margin-bottom: 30px;}
  .videoWrapper iframe{height:200px;margin-bottom:15px !important;}
  .container .stInner.ten.columns {margin:0 !important;}
  .singleTeaser .container .six.columns{margin:0 !important;}
  .singleTeaser{padding-top:130px !important;padding-bottom:50px !important;}
  .imgTS{display:none;}
  .pagination{text-align:left;margin-top:20px;}
  .pagination li{text-align:center;}
  .container .sidebar{margin-top:40px;}
  .replyForm{margin-bottom:40px;}
  a.btnLaunch{margin-left:0;margin-top:20px;}
  .prj, .prjSlider{margin-bottom:20px !important;}
  .postTitleL h1, .projTitle h1{font-size:16px;}
  .postMeta span, .postMeta span a, .projTitle p{font-size:12px;}
  .tagsSingle h4{float:none;margin-bottom:5px;}
  .tagsListSingle li a{margin-bottom:5px;}
  .postMedia iframe{height:200px;}
  .blog .smallIntro p ,.tweets .tweet_list, .singleDetails .smallIntro p, .clients .smallIntro p, .skills .smallIntro p
  , .contact .smallIntro p{padding: 0 8px;}
  .insta {height: 10%;left: 0;padding-top: 135px;width:100%;margin-left: 0;}
  .instaFeed li, .instaFeed li a{width:100%;}
  
}

/* -------------------- End media queries -------------------- */
